In [2]:
import pandas as pd

In [8]:
header_file = "./oth_header_file.csv"
transaction_file = "./itoth.txt"

pd.set_option('display.max_columns', None)

headers = pd.read_csv(header_file)
columns = headers.columns.to_list()
committee_trans_df = pd.read_csv(transaction_file, sep="|", names=columns, dtype={"TRANSACTION_DT": "object", "ZIP_CODE": "object" })

try:
    committee_trans_df["TRANSACTION_DT"] = pd.to_datetime(committee_trans_df["TRANSACTION_DT"], format="%m%d%Y", errors='coerce')
except ValueError:
    pass

print(committee_trans_df.dtypes)

display(committee_trans_df.head(5))

C:\Users\ayoku\AppData\Local\Temp\ipykernel_16444\1582191983.py:8: DtypeWarning: Columns (11,12,15,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  committee_trans_df = pd.read_csv(transaction_file, sep="|", names=columns, dtype={"TRANSACTION_DT": "object", "ZIP_CODE": "object" })

CMTE_ID                    object
AMNDT_IND                  object
RPT_TP                     object
TRANSACTION_PGI            object
IMAGE_NUM                   int64
TRANSACTION_TP             object
ENTITY_TP                  object
NAME                       object
CITY                       object
STATE                      object
ZIP_CODE                   object
EMPLOYER                   object
OCCUPATION                 object
TRANSACTION_DT     datetime64[ns]
TRANSACTION_AMT             int64
OTHER_ID                   object
TRAN_ID                    object
FILE_NUM                    int64
MEMO_CD                    object
MEMO_TEXT                  object
SUB_ID                      int64
dtype: object

,CMTE_ID,AMNDT_IND,RPT_TP,TRANSACTION_PGI,IMAGE_NUM,TRANSACTION_TP,ENTITY_TP,NAME,CITY,STATE,ZIP_CODE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,OTHER_ID,TRAN_ID,FILE_NUM,MEMO_CD,MEMO_TEXT,SUB_ID
0,C00161067,N,M9,P,202309209597255650,10J,ORG,VINSON & ELKINS TEXAS PAC,HOUSTON,TX,770026736,NaN,NaN,2023-06-05,10000,NaN,4686767,1726509,NaN,NaN,4092520231802878119
1,C00165688,N,M7,P,202307209583876554,11J,ORG,GRATON RANCHERIA,ROHNERT PARK,CA,94928,NaN,NaN,2023-04-03,7114,NaN,11AI-000346018,1716271,X,DEMOCRATIC GRASSROOTS VICTORY FUND,4080920231764968037
2,C00165688,N,M7,P,202307209583876543,11J,ORG,MORONGO BAND OF MISSION INDIANS,BANNING,CA,92220,NaN,NaN,2023-02-21,174,NaN,11AI-000345985,1716271,X,DEMOCRATIC GRASSROOTS VICTORY FUND,4080920231764968006
3,C00041269,N,M10,P,202310209598797650,11J,ORG,GRATON RANCHERIA,ROHNERT PARK,CA,949282341,NaN,NaN,2022-11-29,2100,NaN,17047965,1733290,X,* WARNOCK VICTORY FUND,4110620231809571448
4,C00041269,N,M10,P,202310209598797651,11J,ORG,TUNICA-BILOXI TRIBE OF LOUISIANA,MARKSVILLE,LA,713513065,NaN,NaN,2022-12-09,9200,NaN,17047969,1733290,X,* WARNOCK VICTORY FUND,4110620231809571450