In [2]:
import pandas as pd

In [ ]:
header_file = "./oppexp_header_file.csv"
operating_exp_file = "./oppexp.txt"

In [51]:
op_ex_check_df = pd.read_csv(operating_exp_file, sep="|", header=None, dtype={16: "object"})

num_columns = op_ex_check_df.shape[1]
if num_columns == 25:
    print("Each row has a length of 25 columns.")
else:
    print(f"Each row has a length of {num_columns} columns, not 25.")
print("Number of Non-NaN rows in 'extra' column " + str(op_ex_check_df[25].notna().sum()))
display(op_ex_check_df.head(5))

Each row has a length of 26 columns, not 25.
Number of Non-NaN rows in 'extra' column 0

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25
0,C00794982,A,2023,TER,202301109574642828,17,F3,SB,BROGHAMER CONSULTING LLC,NEWPORT,KY,410712006,01/09/2023,1218.75,G2022,COMPLIANCE CONSULTING,001,Administrative/Salary/Overhead Expenses,NaN,NaN,ORG,4012020231718627443,1675434,B99FBD49A0D1040A18CC,NaN,NaN
1,C00794982,A,2023,TER,202301109574642828,17,F3,SB,"GRAUERT, MATTHEW",LOUISVILLE,KY,402081850,01/04/2023,-100.00,G2022,VOID: COMMUNICATIONS CONSULTING,NaN,NaN,NaN,NaN,IND,4012020231718627444,1675434,B1F8C934294B849A1AE7,NaN,NaN
2,C00794982,A,2023,TER,202301109574642828,17,F3,SB,"TELLO, KURT",LOUISVILLE,KY,402081850,01/04/2023,-100.00,G2022,VOID: COMMUNICATIONS CONSULTING,NaN,NaN,NaN,NaN,IND,4012020231718627445,1675434,B0C98B26380D94314B73,NaN,NaN
3,C00819177,T,2023,TER,202301109574642263,21B,F3X,SB,"PURPURA, SALVATORE",MONROE,NC,28110,01/01/2023,2887.50,NaN,COMPLIANCE CONSULTING,NaN,NaN,NaN,NaN,IND,4011820231709508274,1675412,SB21.1323,NaN,NaN
4,C00819177,T,2023,TER,202301109574642263,21B,F3X,SB,"PURPURA, SALVATORE",MONROE,NC,28110,01/10/2023,34.99,NaN,PRINTING,NaN,NaN,NaN,NaN,IND,4011820231709508275,1675412,SB21.1323_B,NaN,NaN

In [52]:
operating_exp_header = pd.read_csv(header_file)
columns = operating_exp_header.columns.tolist()
operating_exp_df = pd.read_csv(operating_exp_file, sep="|", header=None, dtype={16: "object"}) #Won't add a header yet, need to drop an extra column.
operating_exp_df = operating_exp_df.drop(operating_exp_df.columns[-1], axis=1) #Removing the extra column Pandas added
operating_exp_df = operating_exp_df.set_axis(columns, axis=1)
operating_exp_df.head(4)

,CMTE_ID,AMNDT_IND,RPT_YR,RPT_TP,IMAGE_NUM,LINE_NUM,FORM_TP_CD,SCHED_TP_CD,NAME,CITY,STATE,ZIP_CODE,TRANSACTION_DT,TRANSACTION_AMT,TRANSACTION_PGI,PURPOSE,CATEGORY,CATEGORY_DESC,MEMO_CD,MEMO_TEXT,ENTITY_TP,SUB_ID,FILE_NUM,TRAN_ID,BACK_REF_TRAN_ID
0,C00794982,A,2023,TER,202301109574642828,17,F3,SB,BROGHAMER CONSULTING LLC,NEWPORT,KY,410712006,01/09/2023,1218.75,G2022,COMPLIANCE CONSULTING,001,Administrative/Salary/Overhead Expenses,NaN,NaN,ORG,4012020231718627443,1675434,B99FBD49A0D1040A18CC,NaN
1,C00794982,A,2023,TER,202301109574642828,17,F3,SB,"GRAUERT, MATTHEW",LOUISVILLE,KY,402081850,01/04/2023,-100.00,G2022,VOID: COMMUNICATIONS CONSULTING,NaN,NaN,NaN,NaN,IND,4012020231718627444,1675434,B1F8C934294B849A1AE7,NaN
2,C00794982,A,2023,TER,202301109574642828,17,F3,SB,"TELLO, KURT",LOUISVILLE,KY,402081850,01/04/2023,-100.00,G2022,VOID: COMMUNICATIONS CONSULTING,NaN,NaN,NaN,NaN,IND,4012020231718627445,1675434,B0C98B26380D94314B73,NaN
3,C00819177,T,2023,TER,202301109574642263,21B,F3X,SB,"PURPURA, SALVATORE",MONROE,NC,28110,01/01/2023,2887.50,NaN,COMPLIANCE CONSULTING,NaN,NaN,NaN,NaN,IND,4011820231709508274,1675412,SB21.1323,NaN

In [49]:
operating_exp_df.dtypes

CMTE_ID              object
AMNDT_IND            object
RPT_YR                int64
RPT_TP               object
IMAGE_NUM             int64
LINE_NUM             object
FORM_TP_CD           object
SCHED_TP_CD          object
NAME                 object
CITY                 object
STATE                object
ZIP_CODE             object
TRANSACTION_DT       object
TRANSACTION_AMT     float64
TRANSACTION_PGI      object
PURPOSE              object
CATEGORY             object
CATEGORY_DESC        object
MEMO_CD              object
MEMO_TEXT            object
ENTITY_TP            object
SUB_ID                int64
FILE_NUM              int64
TRAN_ID              object
BACK_REF_TRAN_ID     object
dtype: object